<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/supply/pv/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/supply/supplyTotal/css/supplyTotal.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <ul class="supplyTotalContent">
        <li>
            <span>title</span>
            <div id="supplyTotalOne"></div>
        </li>
       <li>
            <span>title</span>
            <div id="supplyTotalTwo"></div>
       </li>
       <li>
           <span>title</span>
            <div id="supplyTotalThree"></div>
       </li>
        <li>
            <span>title</span>
            <div id="supplyTotalFour"></div>
        </li>

    </ul>
</body>
<!-- js -->

<script th:src="@{/supply/supplyTotal/js/supplyTotal.js}" type="module"></script>
</html>