<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
</head>
<body>
<div class="layui-row" style="padding: 20px;background-color: #416279;">
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">
                欢迎使用，<span th:text="${loginUser.userName}"></span>
            </div>
            <div class="layui-card-body">
                <p>    2018年，由国网能研院组织，清华大学、中国农业大学参与共同研究市场交易环境下、清洁能源参与下的供应能力分析、需求情况分析、电力电量平衡分析预测模型。供应侧分别针对风能、光伏、水能，研究基于组合预测的月度供给能力分析，研究清洁能源之间发电能力互补特性；需求侧考虑交易影响需求增长、负荷弹性变化等因素，构建市场交易环境下月度电力需求分析预测模型。基此研究成果，电力电量分析预测系统完成分析模型集成与多维度电力电量供需预测成果的展示。</p>
                <br/>
            </div>
        </div>
    </div>
    <div class="layui-col-md12">
        <div class="layui-card">
            <div class="layui-card-header">系统公告</div>
            <div class="layui-card-body">
                <div th:utext="${sys.sysNoticeText}"></div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- js -->
<script th:src="@{/user/js/userinfo.js}"></script>
</html>