<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/supply/pv/css/common.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/balance/css/balanceShow.css}" rel="stylesheet" type="text/css"/>
</head>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/map/js/china.js"></script>

<body>
<div class="balanceContent">
    <!-- 操作表单 -->
    <div id="balanceEchart">
    </div>
</div>
</body>
<!-- js -->

<!--<script th:src="@{/supply/hydro/js/hydroelec.js}" type="module"></script>-->
<!--<script th:src="@{/echart/echarts.min.js}" type="module"></script>-->
<script th:src="@{/balance/js/balanceShow.js}" type="module"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
    })

    /*]]>*/
</script>
</html>