<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 引入公用部分 -->
    <script th:replace="common/head::static"></script>
    <!-- 样式 -->
    <link th:href="@{/supply/pv/css/common.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-row layui-col-space15">
    <!-- 操作表单 -->
    <div class="layui-col-md12">
        <div class="layui-card">
            <!--<div class="layui-card-header">-->

                <!--<div class="pvSelectDiv">-->
                    <!--<input type="text" class="layui-input pevlayui-input" id="forcastDate" style="width: 100px;">-->
                    <!--<button class="layui-btn  layui-btn-normal pvBtnBorder"  id="windQuery">查询</button>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-card-body">
                <span>地区发电设备容量（万千瓦）</span>
                <!-- 表格主体 -->
                <table class="layui-hide" id="overallSupplyTable" ></table>
            </div>
        </div>

    </div>
</div>
</body>
<script th:src="@{/balance/balanceoverallsupply.js}" type="module"></script>
</html>