ul{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 80%;
    background: #0F1C47;
    overflow: hidden;
}
ul li{
    float:left;
    width:44%;
    height:44%;
    margin:1%;
    /*background: #0F1C47;*/
}
ul li span{
    display:block;
    height: 38px;
    width: 100%;
    line-height: 38px;
    text-align:center;
    /*background: #19397A;*/
}
.supplyTotalContent{
    width: 100%;
    height:100%;

    /*background: rgb(12, 40, 67);*/
}
.supplyTotalContent div{
    margin:5%;
    width:90%;
    height:80%;
    /*background: rgba(40, 86, 139,0.3);*/
}