.pvBtnBorder{
    border-radius: 5px;
}
.layui-card-header{
    height: 90px;
    padding-bottom: 5px;
}
.pevlayui-input{
    display: inline-block;
}

.pvSelectDiv{
    border-bottom: 1px solid #1A4495;
    padding-bottom: 5px;
}
.layui-layer-dialog .layui-layer-padding {
    color: #090F2C!important;
}

#main{
    margin-top:30px;
}
.layui-table-tool{
    display: none;
}
.layui-btn .layui-icon {
    font-size: 14px;
}
